{% load static %}
{% load frontend_filters %}
<footer class="footer">
    <div class="container">
        <ul class="nav nav-pills nav-justified">

            <li class="nav-item">
                <a class="nav-link {% if request.path|check_path:'tutor:Tutors' %}active{% endif %}"
                    href="{% url 'tutor:Tutors' %}">
                    <span>
                        <i class="nav-icon bi bi-people"></i>
                        <span class="nav-text">Tutors</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path|check_path:'blog:Blogs' %}active{% endif %}"
                    href="{% url 'blog:Blogs' %}">
                    <span>
                        <i class="nav-icon fa-solid fa-blog"></i>
                        <span class="nav-text">Blogs</span>
                    </span>
                </a>
            </li>
            <li class="nav-item centerbutton">
                <button type="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#menumodal"
                    id="centermenubtn">
                    <span class="theme-radial-gradient">
                        <i class="bi bi-grid size-22"></i>
                    </span>
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if request.path == request.user.get_profile_url %}active{% endif %}"
                    href="{{request.user.get_profile_url}}">
                    <span>
                        <i class="nav-icon bi bi-person-circle"></i>
                        <span class="nav-text">Profile</span>
                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{request.user.get_logout_url}}">
                    <span>
                        <i class="nav-icon fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="nav-text">Logout</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</footer>