{% extends 'base/base.html' %}
{% load static %}
{% block title %}
Blogs |
{% endblock title %}
{% block content %}
<!-- Blogs news pages -->
<div class="row mb-3">
    <div class="col align-self-center">
        <h6 class="mb-0">Today </h6>
        <p class="text-secondary small">26/12/2021</p>
    </div>
    <div class="col-auto">
        <button class="btn btn-44 btn-outline-secondary"><i class="bi bi-chevron-left"></i></button>
        <button class="btn btn-44 btn-outline-secondary"><i class="bi bi-chevron-right"></i></button>
    </div>
</div>
<div class="row mb-2">
    <div class="col-12 px-0">
        <!-- swiper categories -->
        <div class="swiper-container connectionwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tag border active">
                        <i class="bi bi-building"></i>
                        <span class="text-uppercase">All</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="tag border ">
                        <i class="bi bi-tv"></i>
                        <span class="text-uppercase">Electronics</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="tag border ">
                        <i class="bi bi-truck"></i>
                        <span class="text-uppercase">Transport</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="tag border ">
                        <i class="bi bi-speaker"></i>
                        <span class="text-uppercase">Music</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="tag border ">
                        <i class="bi bi-wallet2"></i>
                        <span class="text-uppercase">Accessories</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="tag border ">
                        <i class="bi bi-camera"></i>
                        <span class="text-uppercase">Camera</span>
                    </div>
                </div>

                <div class="swiper-slide">
                    <div class="tag border ">
                        <i class="bi bi-gem"></i>
                        <span class="text-uppercase">Jwellery</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
        <div class="card card-theme mb-4 overflow-hidden shadow-sm text-white">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-3">
                <img src="assets/img/news1.jpg" alt="">
            </div>
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col">
                        <span class="tag bg-theme">Popular</span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-theme avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                class="bi bi-share"></i></button>
                        <button class="btn btn-success text-white avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                class="bi bi-bookmark"></i></button>
                    </div>
                </div>
                <br>
                <a href="blogdetails.html" class="h4 mb-2 text-normal d-block text-white">Best Discovery
                    ever in UX</a>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse
                    conv allis.</p>
                <div class="">
                    <figure class="avatar avatar-30  rounded-10 mx-1">
                        <img src="assets/img/user2.jpg" alt="">
                    </figure>
                    Alessia Monks
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="card card-theme mb-4 overflow-hidden shadow-sm text-white">
            <div class="overlay"></div>
            <div class="coverimg h-100 w-100 position-absolute opacity-3">
                <img src="assets/img/news2.jpg" alt="">
            </div>
            <div class="card-body">
                <div class="row mb-5">
                    <div class="col">
                        <span class="tag bg-theme">Trending</span>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-theme avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                class="bi bi-share"></i></button>
                        <button class="btn btn-success text-white avatar avatar-40 p-0 rounded-circle shadow-sm"><i
                                class="bi bi-bookmark"></i></button>
                    </div>
                </div>
                <br>
                <a href="blogdetails.html" class="h4 mb-2 text-normal d-block text-white ">Best Discovery
                    ever in UX</a>
                <p>Lorem ipsum dolor sit amet, consect etur adipiscing elit. Sndisse
                    conv allis.</p>
                <div class="">
                    <figure class="avatar avatar-30 rounded-10 mx-1">
                        <img src="assets/img/user3.jpg" alt="">
                    </figure>
                    Jason Mandla
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0">
                        <img src="assets/img/news1.jpg" alt="">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a href="blogdetails.html" class="h5 mb-3 d-block text-normal">Maxartkiller has awesome
                    templae
                    to start</a>
                <p class="text-secondary small">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a href="blogdetails.html" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0">
                        <img src="assets/img/news2.jpg" alt="">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a href="blogdetails.html" class="h5 mb-3 d-block text-normal">For the people by people Best
                    Mobile template is here</a>
                <p class="text-secondary small">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a href="blogdetails.html" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0">
                        <img src="assets/img/news3.jpg" alt="">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a href="blogdetails.html" class="h5 mb-3 d-block text-normal">Maxartkiller has awesome
                    templae
                    to start</a>
                <p class="text-secondary small">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a href="blogdetails.html" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="row">
            <div class="col-5">
                <figure class="rounded-15 position-relative h-190 overflow-hidden shadow-sm">
                    <div class="coverimg h-100 w-100 position-absolute start-0 top-0">
                        <img src="assets/img/news1.jpg" alt="">
                    </div>
                </figure>
            </div>
            <div class="col align-self-center">
                <a href="blogdetails.html" class="h5 mb-3 d-block text-normal">For the people by people Best
                    Mobile template is here</a>
                <p class="text-secondary small">Lorem ipsum dolor sit amet, consect etur adipiscing elit.
                    Sndisse conv allis.</p>
                <a href="blogdetails.html" class="text-normal small">Read More <i class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}